body {
	background-color: azure;
}

#poseDiv {
	display: inline-block;
	padding: 0px 10px;
	width: 33%;
	text-align: center;
	/*overflow: scroll;*/
}

.posePicture{
	height: 50%;
	width: 50%;
	display: inline-block;
}

#descScroll {
	max-height: 5em;
	overflow: scroll;
}

.filterSelect{
	text-align: center;
}

.showingDetails {
	background-color: #5DAF3E;
}

.hidingDetails {
	background-color: #DE2938;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #8B8B8B;
    border-color: #1F1F1F; /*set the color you want here*/
}