body {
	background-color: #FFECCD;
}

.selectpicker {
	background-color: white;
}

#poseDiv {
	display: inline-block;
	padding: 0px 10px;
	width: 33%;
	text-align: center;
	position: relative;
	/*overflow: scroll;*/
}

.posePicture{
	height: 50%;
	width: 50%;
	display: inline-block;
}

#descScroll {
	max-height: 6.5em;
	overflow: scroll;
}

.filterSelect{
	text-align: center;
}

.showingDetails {
	background-color: #5DAF3E;
}

.hidingDetails {
	background-color: #DE2938;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #8B8B8B;
    border-color: #1F1F1F; /*set the color you want here*/
}

.translation {
	overflow: scroll;
}

#sanskrit-translation:hover {
	border-radius: 4px;
	padding: 6px 2px;
	cursor: pointer;
	font-style: italic;
	margin: 5px;
}

#sanskrit-name {
	overflow: hidden;
	background-color: lightgray;
	border-radius: 4.5px;
	margin-bottom: 0px;
}

#sanskrit-name:hover {
	background-color: gray;
	border-radius: 4.5px;
}

#sequencePicture {
	display: inline;
	height: 10em;
	width: auto;
}

#sequencePoses {
	display: inline-block;
	text-align: center;
}