body {
	background-color: azure;
}

#poseDiv {
	display: inline-block;
	padding: 0px 10px;
	width: 33%;
	text-align: center;
	/*overflow: scroll;*/
}

.posePicture{
	height: 50%;
	width: 50%;
	display: inline-block;
}

#descScroll {
	max-height: 5em;
	overflow: scroll;
}

.filterSelect{
	text-align: center;
}

.showingDetails {
	background-color: green;
}

.hidingDetails {
	background-color: red;
}